.sidebarLeft {
    width: 20%;
    height: 840px;
    border: solid 1px red;
    text-align: center;
    margin: .5%;
    margin-top: 2%;
    left: 0;
    top: 5%;
    position: fixed;
    background-image: url("../images/meme1.jpg");
    font-family: 'Courier New', Courier, monospace;
}

.sidebarRight {
    width: 20%;
    height: 840px; 
    border: solid 1px red;
    text-align: center;
    margin: .5%;
    margin-top: 2%;
    position: fixed;
    right: 0;
    top: 5%;
    background-image: url("../images/meme2.jpg");
    font-family: 'Courier New', Courier, monospace;
}

.sidebarLeft p {
	color: teal;
}

.sidebarRight p {
	color: teal;
}