.sidebarLeft {
    width: 20%;
    height: 92%;
    border: solid 1px red;
    text-align: center;
    margin: 1% .5% .5%;
    left: 0;
    top: 5%;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
}

.sidebarRight {
    width: 20%;
    height: 92%;
    border: solid 1px red;
    text-align: center;
    margin: 1% .5% .5%;
    position: fixed;
    right: 0;
    top: 5%;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.sidebarLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebarRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-height: 750px) {
    .sidebarRight {
        height: 85%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .sidebarLeft {
        height: 85%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
}

@media screen and (max-height: 500px) {
    .sidebarRight {
        height: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .sidebarLeft {
        height: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (max-height: 450px) {
    .sidebarRight {
        height: 75%;
        margin-top: 5%;
    }
    .sidebarLeft {
        height: 75%;
        margin-top: 5%;
    }
}

@media screen and (max-height: 350px) {
    .sidebarRight {
        height: 75%;
        margin-top: 9%;
    }
    .sidebarLeft {
        height: 75%;
        margin-top: 9%;
    }
}

@media screen and (max-height: 250px) {
    .sidebarRight {
        height: 55%;
        margin-top: 15%;
    }
    .sidebarLeft {
        height: 55%;
        margin-top: 15%;
    }
}