body {
    /* Added by reloadedd (Ionut) */
    background-color: black;
    color: white;

    /* Original */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#content {
    /* Original */
    width: 60%;
    text-align: center;
}

.post {
    /* Added by reloadedd (Ionut) */
    border-color: red;

    /* Original */
    border-style: solid;
    border-width: 1px;
    padding: 1%;
    margin: 1%;
}

/*Added by reloadedd (Ionut)*/
.post img {
    height: 500px;
    width: 500px;
    float: left;
    object-fit: contain;
    margin: 0 15px 0 0;
}

#container {
    /* Added by reloadedd (Ionut) */
    align-items: center;
    
    /* Original */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    margin-top: 25px;
}
