.sidebarLeft {
    width: 20%;
    height: 840px;
    border: solid 1px red;
    text-align: center;
    margin: .5%;
    left: 0;
    top: 5%;
    position: fixed;
    background-image: url("35802.jpg");
    font-family: 'Courier New', Courier, monospace;
}

.sidebarRight {
    width: 20%;
    height: 840px; 
    border: solid 1px red;
    text-align: center;
    margin: .5%;
    position: fixed;
    right: 0;
    top: 5%;
    background-image: url("raindrops-on-glass-window-qv-1920x1080.jpg");
    font-family: 'Courier New', Courier, monospace;
}

.sidebarLeft p {
	color: teal;
}

.sidebarRight p {
	color: teal;
}